*{
	margin: 0;
	padding: 0;
	font-family: verdana;
}


.navigasi {
	background-color: #3b4997;
	width: 100%;
	height: 70px;
	color: white;
	position: fixed;
}


.logo {
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 30px;
}


.menu{
	margin-left: 800px;
	padding-top: 27px;
}
.menu ul li {
	list-style: none;
	display: inline-block;
	margin-left: 50px;
}

.menu ul li  a {
	text-decoration: none;
	color: white;
}



.menu ul li a:hover {
	color: lightskyblue;
	font-style: italic;
}


.banner {
	background-color: #3b5997;
	height: 500px;
	text-align: center;
	color: white;

}

.banner img {
	border-radius: 100%;
	height: 150px;
	border: 6px solid white;
	margin-top: 100px;
}

.banner h1 {
	margin-top: 10px;
	margin-bottom: 1px;

}

.banner h2 {
	margin-top: 5px;
	margin-bottom: 1px;
}

.banner button:hover {
	background-color: #3b5997;
	border: 1px solid white;
	color: white;
}

.banner h1 span:before {
	content: '';
	animation: gerak infinite 8s ease;
	transform: translateY(-50px);
	color: lightblue;
	font-size: 50px;
}

@keyframes gerak {
	0% {
		content: 'Selamat Datang';
	}
	50% {
		content: 'Saya, I Wayan Yana Sutrisna';
	}
	100% {
		content: 'Mahasiswa ITB Stikom Bali';
	}
}



.caption-header {
            grid-column: 1 / -1; /* Merentangkan elemen h2 sejajar dengan tabel */
            text-align: center;
            margin-bottom: 20px;
            padding-top: 50px;
        }
        .table-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            max-width: 1200px;
            margin: 20px auto;
        }

        .table {
            border-collapse: collapse;
            width: 100%;
        }

        .table img {
            width: 100%;
            height: auto;
            border-radius: 20px; /* Mengatur radius border untuk membuat ujung gambar membulat */
        }

        .table td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        .caption {
            font-weight: bold;
            margin-top: 10px;
        }

                .list-container {
            text-align: left; /* Posisikan isi dengan daftar berbulet di kiri */
            margin-top: 10px;
            padding-left: 20px;
            
        }

        .list-item {
            margin-bottom: 5px;
        }



.caption-header{
	padding-top: 100px;
	padding-bottom: 30px;
}
.gallery-container {
    overflow: hidden;
    width: 100%;
    height: 300px; /* Atur tinggi galeri sesuai keinginan */

}

.gallery {
    display: flex;
    animation: scrollGallery 20s linear infinite; /* Atur kecepatan dan durasi animasi sesuai keinginan */
}

.gallery img {
    width: 500px; /* Atur lebar gambar sesuai keinginan */
    height: auto;
    margin-right: 10px; /* Atur jarak antara gambar */
}

@keyframes scrollGallery {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%); /* Ubah persentase ini sesuai dengan jumlah gambar yang ada */
    }
}

.bio {
      max-width: 600px;
      margin: 30px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    h1 {
      text-align: center;
    }

    .biodata-info {
      display: flex;
      margin-bottom: 10px;
    }

    .biodata-info span {
      font-weight: bold;
      width: 100px;
    }

    .biodata-info p {
      margin: 0;
    }

    .profile-pic {
      display: block;
      margin: 20px auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }


.box-pendidikan {
	text-align: center;
	color: #4d4d4d;
	margin-top: 90px;
	align-content: center;
}

.box-kiri, .box-tengah, .box-kanan {
	width: 300px;
	height: 320px;
	background-color: #f0f0f0;
	text-align: center;
	padding: 20px 30px;
	margin: 70px 20px 20px 55px;
	border-radius: 10px;
	float: left;
}

.box-kiri:hover, .box-tengah:hover, .box-kanan:hover {
	background-color: #3b5999;
	color: white;
}

.box-pendidikan h3, p {
	margin-top: 10px;
	margin-bottom: 13px;
	padding: 0px 20px;
}


.box-pekerjaan {

	text-align: center;
	color: #4d4d4d;
	margin-top: 500px;
	align-content: center;
}

.box-pekerjaan h1 {
	margin-top: 50px;
	margin-bottom: 20px;

}



.box-kontak {
	text-align: center;
	color: #4d4d4d;
	margin-top: 70px;
	margin-bottom: 100px;
	align-content: center;


}

.box-fb, .box-wa, .box-ig, .box-tw, .box-lok {
	width: 100px;
	height: 100px;
	background-color: #f0f0f0;
	text-align: center;
	padding: 10px 30px;
	margin: 70px 20px 50px 80px;
	border-radius: 10px;
	font-weight: bold;
	float: left;
}

.box-wa .wa {
	margin-left: -16px;
}
.box-fb .fb {
	margin-left: -10px;
}
.box-ig .ig {
	margin-left: -14px;
}
.box-fb:hover, .box-wa:hover, .box-ig:hover, .box-tw:hover, .box-lok:hover {
	background-color: #3b5999;
	color: white;
}

.footer {
	text-align: center;

}